<html lang="en" prefix="og: https://ogp.me/ns#">

<head>
  <title>Budget App</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'budget/bootstrap/css/bootstrap.css' %}">
  {% block headloaders %}
  {% endblock %}
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="#">Budget</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class='nav navbar-nav'>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Transactions <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'recurring_transactions' %}">Recurring Transactions</a></li>
                  <li><a href="{% url 'add_recurring_transaction' %}">Add Recurring Transaction</a></li>
                </ul>
              </li>
              <li><a href="{% url 'budgets' %}">Budgets</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category Types <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'category_types' %}">Category Types</a></li>
                  <li><a href="{% url 'create_category' %}">Add Category Type</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
    </nav>
  {% block content %}

  {% endblock %}
  </div>
  <script src="{% static 'budget/jquery-1.11.3.min.js' %}"></script>
  <script src="{% static 'budget/DataTables-1.10.7/media/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'budget/DataTables-1.10.7/bootstrap/dataTables.bootstrap.js' %}"></script>
  <script src="{% static 'budget/bootstrap/js/bootstrap.js' %}"></script>
  
  {% block endloaders %}
  {% endblock %}
</body>

</html>