<h2>Summary</h2>
<table class="table display" id="budget_summary">
  <thead>
    <tr>
      <th>Total Spent</th>
      <th>Total Earned</th>
      <th>Monthly +/-</th>
      <th>Three month +/-</th>
      <th>Yearly +/-</th>
<!--       <th>Best Category</th>
      <th>Worst Category</th> -->
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>$<span id="summary-total-expenses">{{summary.total_expenses}}</span></td>
      <td>$<span id="summary-total-income">{{summary.total_income}}</span></td>
      <td>$<span id="summary-net-income">{{summary.net_income}}</span></td>
      <td>$<span id="summary-three-month-net">{{summary.three_month_net}}</span></td>
      <td>$<span id="summary-yearly-net">{{summary.year_net}}</span></td>
<!--       <td><span id="summary-best-category">{{summary.best_category}} ({{summary.best_category_save_percent}}%)</span></td>
      <td><span id="summary-worst-category">{{summary.worst_category}} ({{summary.worst_category_save_percent}}%)</span></td> -->
    </tr>
  </tbody>
</table>